@page
@model MyWayRazor.Pages.Tabelas.Uhs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uh[0].IATA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uh[0].UhNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uh[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uh[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uh[0].LastUpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uh[0].LastUpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Uh) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IATA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UhNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UhId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UhId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UhId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
