@page
@model MyWayRazor.Areas.Identity.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        @foreach (var item in Model.ApplicationUser.UserRoles)
        {
            <dt>
                @Html.DisplayNameFor(modelItem => item.Role.Name)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </dd>
        }
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ApplicationUser.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
