@page
@model MyWayRazor.Pages.StagingArea.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Staging</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Msg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Msg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Notif)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Notif)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Voo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Voo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Mov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Mov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.OrigemDestino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.OrigemDestino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Pax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Pax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Ssr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Ssr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.AirCraft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.AirCraft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Stand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Stand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.CheckIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.CheckIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Gate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Gate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Etd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Etd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Antecipar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Antecipar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Horario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Horario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Status.Statuses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Destino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Destino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Alerta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Alerta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Observacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.LastUpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.LastUpdatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staging.LastUpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.LastUpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staging.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
