@page
@model MyWayRazor.Pages.Tabelas.Departamentos.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Departamentos</h2>

<p>
    <a asp-page="Create">Criar Departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departamento[0].DepartamentoNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento[0].DepartamentoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento[0].LastUpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento[0].LastUpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departamento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DepartamentoId">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.DepartamentoId">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.DepartamentoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
