@page
@model MyWayRazor.Pages.Analise.PmrTerminalModel

@{
    ViewData["Title"] = "PmrTerminal";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    #region variables

    var Today = DateTime.UtcNow.Day;

    int[] dataHour = Model.AssistenciasPRMs.Where(d => d.Data.Day == Today).Select(h => h.Data.Hour).Distinct().ToArray();
    int[] estimaHour = Model.AssistenciasPRMs.Where(d => d.Data.Day == Today).Select(h => h.EstimaApresentacao.Hour).Distinct().ToArray();
    int[] embarqueHour = Model.AssistenciasPRMs.Where(d => d.Data.Day == Today).Select(h => h.HoraEmbarque.Hour).Distinct().ToArray();
    int[] tempArr = dataHour.Union(estimaHour).ToArray();
    int[] Hours = tempArr.Union(embarqueHour).ToArray();

    Array.Sort(Hours);

    #endregion

    }
<section class="content">
    @*<div class="row">
            <div class="form-group col-sm-1 col-md-2">
                <label>Data:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="datepicker">
                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="col-sm-2 col-md-4">
            <div class="box ">
                <div class="box-header">
                    <h3 class="box-title">Total de PMR por BRD/STA:</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="TotalPmrStdStaTbl" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Hora:</th>
                                <th>Partidas:</th>
                                <th>Chegadas:</th>
                                <th>Total:</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in Hours
                          .Select(h => new
                          {
                              hora = h,
                              Dep = Model.AssistenciasPRMs
                                  .Where(d => d.Mov == "D" && d.Data.Day == Today)
                                  .Count(m => m.HoraEmbarque.Hour == h),
                              Arr = Model.AssistenciasPRMs
                                  .Where(d => d.Mov == "A" && d.Data.Day == Today)
                                  .Count(m => m.Data.Hour == h),
                              Total = Model.AssistenciasPRMs
                                  .Where(d => d.Data.Day == Today)
                                  .Count(m => m.Data.Hour == h)
                          }
                     ).OrderBy(h => h.hora)
                    )
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.hora):00
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.Dep)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.Arr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.Total)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Totais: </th>
                                <th>@Model.TotalPMRDep</th>
                                <th>@Model.TotalPMRArr</th>
                                <th>@Model.TotalPMR</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-2 col-md-4">
            <div class="box ">
                <div class="box-header">
                    <h3 class="box-title">Partidas por estimativa de chegada dos PMR:</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="PartidasEstimativaTbl" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Hora:</th>
                                <th>Schengen:</th>
                                <th>Não schengen:</th>
                                <th>Terminal 2:</th>
                                <th>Totais:</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in Hours
                               .Select(h => new
                               {
                                   hora = h,
                                   DepS = Model.AssistenciasPRMs
                                       .Where(d => d.Mov == "D"
                                           && Model.GateSchengen.Contains(d.Gate)
                                           && d.Data.Day == Today)
                                       .Count(m => m.EstimaApresentacao.Hour == h),
                                   DepN = Model.AssistenciasPRMs
                                       .Where(d => d.Mov == "D"
                                           && Model.GateNSchengen.Contains(d.Gate)
                                           && d.Data.Day == Today)
                                       .Count(m => m.EstimaApresentacao.Hour == h),
                                   DepT2 = Model.AssistenciasPRMs
                                           .Where(d => d.Mov == "D"
                                           && Model.GateT2.Contains(d.Gate)
                                           && d.Data.Day == Today)
                                       .Count(m => m.EstimaApresentacao.Hour == h),
                                   DepTotal = Model.AssistenciasPRMs
                                       .Where(d => d.Mov == "D" && d.Data.Day == Today)
                                       .Count(m => m.EstimaApresentacao.Hour == h)
                               }
                              ).OrderBy(h => h.hora)
                             )
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.hora):00
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.DepS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.DepN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.DepT2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.DepTotal)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Totais: </th>
                                <th>@Model.TotalDepS</th>
                                <th>@Model.TotalDepN</th>
                                <th>@Model.TotalDepT2</th>
                                <th>@Model.TotalPMRDep</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-2 col-md-4">
            <div class="box ">
                <div class="box-header">
                    <h3 class="box-title">PMR - Chegadas STA:</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="PmrChegadasTbl" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Hora:</th>
                                <th>Pier Sul:</th>
                                <th>Pier Norte:</th>
                                <th>Pier 14:</th>
                                <th>Remoto:</th>
                                <th>Totais:</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in Hours
                               .Select(h => new
                               {
                                   hora = h,
                                   APierSul = Model.AssistenciasPRMs
                                           .Where(d => d.Mov == "A"
                                           && Model.PierSul.Contains(Int32.Parse(d.Stand))
                                           && d.Data.Day == Today)
                                       .Count(m => m.Data.Hour == h),
                                   APierNorte = Model.AssistenciasPRMs
                                           .Where(d => d.Mov == "A"
                                           && Model.PierNorte.Contains(Int32.Parse(d.Stand))
                                           && d.Data.Day == Today)
                                       .Count(m => m.Data.Hour == h),
                                   APier14 = Model.AssistenciasPRMs
                                           .Where(d => d.Mov == "A"
                                           && Model.Pier14.Contains(Int32.Parse(d.Stand))
                                           && d.Data.Day == Today)
                                       .Count(m => m.Data.Hour == h),
                                   ArrRemoto = Model.AssistenciasPRMs
                                           .Where(d => d.Mov == "A"
                                           && Model.Remotos.Contains(Int32.Parse(d.Stand))
                                           && d.Data.Day == Today)
                                       .Count(m => m.Data.Hour == h),
                                   ArrTotal = Model.AssistenciasPRMs
                                           .Where(d => d.Mov == "A"
                                           && d.Data.Day == Today)
                                       .Count(m => m.Data.Hour == h)
                               }
                                ).OrderBy(h => h.hora)
                               )
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.hora):00
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.APierSul)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.APierNorte)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.APier14)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.ArrRemoto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.ArrTotal)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Totais: </th>
                                <th>@Model.TotalAPierSul</th>
                                <th>@Model.TotalAPierNorte</th>
                                <th>@Model.TotalAPier14</th>
                                <th>@Model.TotalARemoto</th>
                                <th>@Model.TotalPMRArr</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Tabela</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
    @section Scripts
        {

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
        <script src="~/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript">
    var labelArray = [];
    var dataChegadas = [];
    var dataPartidas = [];
    var dataTotal = [];

    @foreach (var items in Hours
       .Select(h => new
       {
           hora = h,
           Arr = Model.AssistenciasPRMs
                    .Where(d => d.Mov == "A"
                    && d.Data.Day == Today)
                .Count(m => m.Data.Hour == h),
           Dep = Model.AssistenciasPRMs
                    .Where(d => d.Mov == "D"
                    && d.Data.Day == Today)
                .Count(m => m.Data.Hour == h),
           Total = Model.AssistenciasPRMs
                    .Where(d => d.Data.Day == Today)
                .Count(m => m.Data.Hour == h)
       }
       ).OrderBy(h => h.hora))
    {
        @: labelArray.push("@Html.DisplayFor(modelItem => items.hora):00");
        @: dataChegadas.push("@Html.DisplayFor(modelItem => items.Arr)");
        @: dataPartidas.push("@Html.DisplayFor(modelItem => items.Dep)");
        @: dataTotal.push("@Html.DisplayFor(modelItem => items.Total)");
    }
        </script>

        <script type="text/javascript">
            var chartData = {
                labels: labelArray,
                datasets: [
                    {
                        type: 'line',
                        label: 'Total',
                        borderColor: 'rgb(54, 162, 235)',
                        borderWidth: 2,
                        fill: false,
                        data: dataTotal
                    }, {
                        type: 'bar',
                        label: 'Partidas',
                        backgroundColor: 'rgb(75, 192, 192)',
                        data: dataPartidas
                    }, {
                        type: 'bar',
                        label: 'Chegadas',
                        backgroundColor: 'rgb(255, 99, 132)',
                        data: dataChegadas
                    }
                ]

            };
            window.onload = function () {
                var ctx = document.getElementById('canvas').getContext('2d');
                window.myMixedChart = new Chart(ctx, {
                    type: 'bar',
                    data: chartData,
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Total de PMR por BRD/STA:'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: true
                        }
                    }
                });
            };

            $('#datepicker').datepicker({
                isRTL: false,
                format: 'dd-mm-yyyy',
                autoclose: true,
                language: 'Pt'
            });

        </script>
    }