@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";

    #region variables

    //Hoje
    int[] dataHourH = Model.AssistenciasHoje.Select(h => h.Data.Hour).Distinct().ToArray();
    int[] estimaHourH = Model.AssistenciasHoje.Select(h => h.EstimaApresentacao.Hour).Distinct().ToArray();
    int[] embarqueHourH = Model.AssistenciasHoje.Select(h => h.HoraEmbarque.Hour).Distinct().ToArray();
    int[] tempArrH = dataHourH.Union(estimaHourH).ToArray();
    int[] HoursH = tempArrH.Union(embarqueHourH).ToArray();

    Array.Sort(HoursH);


    int AssistenciasHoje = @Model.AssistenciasHoje.Count();
    int AssistenciasHojeManha = @Model.AssistenciasHoje.Where(d => d.Data.Hour <= 15).Count();
    int AssistenciasHojeTarde = @Model.AssistenciasHoje.Where(d => d.Data.Hour >= 16).Count();
    int AssistenciasHojeCS = @Model.AssistenciasHoje.Where(d => d.SSR.Contains("WCHC") || d.SSR.Contains("WCHS")).Count();
    int AssistenciasHojeOutras = @Model.AssistenciasHoje.Where(d => !d.SSR.Contains("WCHC") && !d.SSR.Contains("WCHS")).Count();

    //Amanha
    int[] dataHourA = Model.AssistenciasAmanha.Select(h => h.Data.Hour).Distinct().ToArray();
    int[] estimaHourA = Model.AssistenciasAmanha.Select(h => h.EstimaApresentacao.Hour).Distinct().ToArray();
    int[] embarqueHourA = Model.AssistenciasAmanha.Select(h => h.HoraEmbarque.Hour).Distinct().ToArray();
    int[] tempArrA = dataHourA.Union(estimaHourA).ToArray();
    int[] HoursA = tempArrA.Union(embarqueHourA).ToArray();

    Array.Sort(HoursA);


    int AssistenciasAmanha = @Model.AssistenciasAmanha.Count();
    int AssistenciasAmanhaManha = @Model.AssistenciasAmanha.Where(d => d.Data.Hour <= 15).Count();
    int AssistenciasAmanhaTarde = @Model.AssistenciasAmanha.Where(d => d.Data.Hour >= 16).Count();
    int AssistenciasAmanhaCS = @Model.AssistenciasAmanha.Where(d => d.SSR.Contains("WCHC") || d.SSR.Contains("WCHS")).Count();
    int AssistenciasAmanhaOutras = @Model.AssistenciasAmanha.Where(d => !d.SSR.Contains("WCHC") && !d.SSR.Contains("WCHS")).Count();

    #endregion
}

<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tarefa</th>
                            <th>Data</th>
                            <th>Passaram</th>
                            <th>%</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ToDoList.OrderBy(d => d.CreatedAt).Where(f => f.Done == false))
                        {
                            <tr>
                                <td>
                                    <p class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + item.ToDoId)" aria-expanded="true" class="">
                                            @Html.DisplayFor(modelItem => item.ToDoTittle)
                                        </a>
                                    </p>
                                    <div id="@("collapse" + item.ToDoId)" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="box-body">
                                            @Html.DisplayFor(modelItem => item.ToDoText)
                                            <p>
                                                Tarefa criada por:
                                                <a href="mailto:@Html.DisplayFor(modelItem => item.CreatedBy)">
                                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                                </a>
                                                em @Html.DisplayFor(modelItem => item.CreatedAt)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @if (item.CreatedAt != null)
                                    {
                                        @item.CreatedAt.Value.ToLocalTime()
                                    }
                                </td>
                                <td>
                                    @if (item.CreatedAt != null)
                                    {
                                        var horas = Math.Round((DateTime.UtcNow.ToLocalTime() - item.CreatedAt.Value.ToLocalTime()).TotalHours);
                                        var minutos = (DateTime.UtcNow.ToLocalTime() - item.CreatedAt.Value.ToLocalTime()).Minutes;
                                        @(horas + "h" + minutos)
                                    }
                                </td>
                                <td>
                                    <div class="progress progress-xs">
                                        @if (item.CreatedAt != null)
                                        {
                                            var dateNow = TimeSpan.FromTicks(DateTime.UtcNow.Ticks);
                                            var dateStart = TimeSpan.FromTicks(item.CreatedAt.Value.Ticks);
                                            var dateEnd = TimeSpan.FromTicks(item.CreatedAt.Value.AddDays(1).Ticks);
                                            var percentage = (Math.Round(((dateNow - dateStart) / (dateEnd - dateStart)) * 100));
                                            var percentageFormated = (percentage.ToString() + "%");
                                            var format = ((percentage > 75) ? "progress-bar progress-bar-danger" :
                                                ((percentage > 50) ? "progress-bar progress-bar-warning" : "progress-bar progress-bar-success"));
                                            <div class="@(format)" style="width: @(percentageFormated)"></div>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <span class="@(item.Done == true ? "label label-success" : "label label-danger")">
                                        @(item.Done == true ? "Arquivado" : "Pendente")
                                    </span>
                                </td>
                                <td>
                                    <form asp-page-handler="~/MarkDone" asp-route-id="@item.ToDoId" method="post"
                                          onclick="return confirm('Deseja marcar a tarefa como concluída?')">
                                        <input type="submit" value="Feito" class="btn btn-default" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <a class="btn btn-default pull-right" href="~/ToDoList/Create">
                    <i class="fa fa-plus"></i> Adicionar item
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="nav-tabs-custom" style="cursor: move;">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs ui-sortable-handle">
                <li class="active"><a href="#hoje" data-toggle="tab" aria-expanded="true">Hoje</a></li>
                <li class=""><a href="#amanha" data-toggle="tab" aria-expanded="false">Amanhã</a></li>
                <li class="header"><i class="fa fa-bar-chart-o"></i> Previsão</li>
            </ul>
            <div class="tab-content no-padding">

                <div class="chart tab-pane active" id="hoje">

                    @if (Model.AssistenciasHoje.Count < 1)
                    {
                        <div class="callout callout-danger">
                            <h4 class="text-bold">Ainda não foi carregado o ficheiro de assistências para hoje</h4>
                            <p>Para carregar o ficheiro clique <a asp-page="/Upload/Index">aqui</a></p>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-8">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Voos Críticos:</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">

                                    <table id="tblVoosCriticosH" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Voo</th>
                                                <th>Num PMR</th>
                                                <th>Horário</th>
                                                <th>Movimento</th>
                                                <th>Origem / Destino</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var VoosC in Model.AssistenciasHoje.GroupBy(v => v.Voo).Where(c => c.Count() >= 5)
                                           .Select(v => new
                                           {
                                               Horario = Model.AssistenciasHoje.Where(d => d.Voo == v.Key).Select(d => d.Data).FirstOrDefault(),
                                               Mov = Model.AssistenciasHoje.Where(d => d.Voo == v.Key).Select(d => d.Mov).FirstOrDefault(),
                                               Od = Model.AssistenciasHoje.Where(d => d.Voo == v.Key).Select(d => d.OrigDest).FirstOrDefault(),
                                               Num = v.Key,
                                               Conta = v.Count()
                                           }
                                ).OrderBy(h => h.Horario))
                                            {
                                                <tr>
                                                    <td>@VoosC.Num </td>
                                                    <td>@VoosC.Conta </td>
                                                    <td>@VoosC.Horario.ToShortTimeString()</td>
                                                    <td>@VoosC.Mov</td>
                                                    <td>@VoosC.Od</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Voo</th>
                                                <th>Num PMR</th>
                                                <th>Horário</th>
                                                <th>Movimento</th>
                                                <th>Origem / Destino</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                            <!-- /.box-body -->

                        </div>

                        <div class="row col-md-4">

                            <div class="info-box bg-green">
                                <span class="info-box-icon"><i class="fa fa-wheelchair"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Total de PMR’s</span>
                                    <span class="info-box-number">@AssistenciasHoje</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: @((int)Math.Round((double)(100 * AssistenciasHoje) / 903))%"></div>
                                    </div>
                                    <span class="progress-description">
                                        @((int)Math.Round((double)(100 * AssistenciasHoje) / 903))% Do máximo de assistências registado (903)
                                    </span>
                                </div>
                            </div>

                            <div class="info-box bg-blue">
                                <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">PMRs Manhã (05H às 15H)</span>
                                    <span class="info-box-number">@AssistenciasHojeManha</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: @((int)Math.Round((double)(100 * AssistenciasHojeManha) / AssistenciasHoje))%"></div>
                                    </div>
                                    <span class="progress-description">
                                        @((int)Math.Round((double)(100 * AssistenciasHojeManha) / AssistenciasHoje))% Do total de assistências hoje (@AssistenciasHoje)
                                    </span>
                                </div>
                            </div>

                            <div class="info-box bg-orange">
                                <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">PMRs Tarde (15H às 00H):</span>
                                    <span class="info-box-number">@AssistenciasHojeTarde</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: @((int)Math.Round((double)(100 * AssistenciasHojeTarde) / AssistenciasHoje))%"></div>
                                    </div>
                                    <span class="progress-description">
                                        @((int)Math.Round((double)(100 * AssistenciasHojeTarde) / AssistenciasHoje))% Do total de assistências hoje (@AssistenciasHoje)
                                    </span>
                                </div>
                            </div>

                            <div class="info-box bg-maroon">
                                <span class="info-box-icon"><i class="fa fa-wheelchair"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Quantidade WCHC + WCHS:</span>
                                    <span class="info-box-number">@AssistenciasHojeCS</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: @((int)Math.Round((double)(100 * AssistenciasHojeCS) / AssistenciasHoje))%"></div>
                                    </div>
                                    <span class="progress-description">
                                        @((int)Math.Round((double)(100 * AssistenciasHojeCS) / AssistenciasHoje))% Do total de assistências hoje (@AssistenciasHoje)
                                    </span>
                                </div>
                            </div>

                            <div class="info-box bg-light-blue">
                                <span class="info-box-icon"><i class="fa fa-wheelchair"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Restantes assistências:</span>
                                    <span class="info-box-number">@AssistenciasHojeOutras</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: @((int)Math.Round((double)(100 * AssistenciasHojeOutras) / AssistenciasHoje))%"></div>
                                    </div>
                                    <span class="progress-description">
                                        @((int)Math.Round((double)(100 * AssistenciasHojeOutras) / AssistenciasHoje))% Do total de assistências hoje (@AssistenciasHoje)
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class=" col-md-12">
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Tabela</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <canvas id="canvasHoje"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>

                <div class="chart tab-pane" id="amanha">

                    @if (Model.AssistenciasAmanha.Where(d => d.Data.Hour >= 1).Count() < 1)
                    {
                        <div class="callout callout-danger">
                            <h4 class="text-bold">Ainda não foi carregado o ficheiro de assistências para amanhã</h4>
                            <p>Para carregar o ficheiro clique <a asp-page="/Upload/Index">aqui</a></p>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-8">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Voos Críticos:</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">

                                    <table id="tblVoosCriticosA" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Voo</th>
                                                <th>Num PMR</th>
                                                <th>Horário</th>
                                                <th>Movimento</th>
                                                <th>Origem / Destino</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var VoosC in Model.AssistenciasAmanha.GroupBy(v => v.Voo).Where(c => c.Count() >= 5)
                                          .Select(v => new
                                          {
                                              Horario = Model.AssistenciasAmanha.Where(d => d.Voo == v.Key).Select(d => d.Data).FirstOrDefault(),
                                              Mov = Model.AssistenciasAmanha.Where(d => d.Voo == v.Key).Select(d => d.Mov).FirstOrDefault(),
                                              Od = Model.AssistenciasAmanha.Where(d => d.Voo == v.Key).Select(d => d.OrigDest).FirstOrDefault(),
                                              Num = v.Key,
                                              Conta = v.Count()
                                          }
                               ).OrderBy(h => h.Horario))
                                            {
                                                <tr>
                                                    <td>@VoosC.Num </td>
                                                    <td>@VoosC.Conta </td>
                                                    <td>@VoosC.Horario.ToShortTimeString()</td>
                                                    <td>@VoosC.Mov</td>
                                                    <td>@VoosC.Od</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Voo</th>
                                                <th>Num PMR</th>
                                                <th>Horário</th>
                                                <th>Movimento</th>
                                                <th>Origem / Destino</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                            <!-- /.box-body -->

                        </div>

                        <div class="row col-md-4">

                            <div class="info-box bg-green">
                                <span class="info-box-icon"><i class="fa fa-wheelchair"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Total de PMR’s</span>
                                    <span class="info-box-number">@AssistenciasAmanha</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: @((int)Math.Round((double)(100 * AssistenciasAmanha) / 903))%"></div>
                                    </div>
                                    <span class="progress-description">
                                        @((int)Math.Round((double)(100 * AssistenciasAmanha) / 903))% Do máximo de assistências registado (903)
                                    </span>
                                </div>
                            </div>

                            <div class="info-box bg-blue">
                                <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">PMRs Manhã (05H às 15H)</span>
                                    <span class="info-box-number">@AssistenciasAmanhaManha</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: @((int)Math.Round((double)(100 * AssistenciasAmanhaManha) / AssistenciasAmanha))%"></div>
                                    </div>
                                    <span class="progress-description">
                                        @((int)Math.Round((double)(100 * AssistenciasAmanhaManha) / AssistenciasAmanha))% Do total de assistências hoje (@AssistenciasAmanha)
                                    </span>
                                </div>
                            </div>

                            <div class="info-box bg-orange">
                                <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">PMRs Tarde (15H às 00H):</span>
                                    <span class="info-box-number">@AssistenciasAmanhaTarde</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: @((int)Math.Round((double)(100 * AssistenciasAmanhaTarde) / AssistenciasAmanha))%"></div>
                                    </div>
                                    <span class="progress-description">
                                        @((int)Math.Round((double)(100 * AssistenciasAmanhaTarde) / AssistenciasAmanha))% Do total de assistências hoje (@AssistenciasAmanha)
                                    </span>
                                </div>
                            </div>

                            <div class="info-box bg-maroon">
                                <span class="info-box-icon"><i class="fa fa-wheelchair"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Quantidade WCHC + WCHS:</span>
                                    <span class="info-box-number">@AssistenciasAmanhaCS</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: @((int)Math.Round((double)(100 * AssistenciasAmanhaCS) / AssistenciasAmanha))%"></div>
                                    </div>
                                    <span class="progress-description">
                                        @((int)Math.Round((double)(100 * AssistenciasAmanhaCS) / AssistenciasAmanha))% Do total de assistências hoje (@AssistenciasAmanha)
                                    </span>
                                </div>
                            </div>

                            <div class="info-box bg-light-blue">
                                <span class="info-box-icon"><i class="fa fa-wheelchair"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Restantes assistências:</span>
                                    <span class="info-box-number">@AssistenciasAmanhaOutras</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: @((int)Math.Round((double)(100 * AssistenciasAmanhaOutras) / AssistenciasAmanha))%"></div>
                                    </div>
                                    <span class="progress-description">
                                        @((int)Math.Round((double)(100 * AssistenciasAmanhaOutras) / AssistenciasAmanha))% Do total de assistências hoje (@AssistenciasAmanha)
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class=" col-md-12">
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Tabela</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <canvas id="canvasAmanha"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="~/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
        var labelArrayHoje = [];
        var dataChegadasHoje = [];
        var dataPartidasHoje = [];
        var dataTotalHoje = [];

    @foreach (var items in HoursH
        .Select(h => new
        {
            hora = h,
            Arr = Model.AssistenciasHoje
                    .Where(
                        d => d.Mov == "A"
                    )
                .Count(
                    m => m.Data.Hour == h
                ),
            Dep = Model.AssistenciasHoje
                    .Where(
                        d => d.Mov == "D"
                    )
                .Count(m => m.Data.Hour == h)
        }
        ).OrderBy(h => h.hora))
    {
        @: labelArrayHoje.push("@Html.DisplayFor(modelItem => items.hora):00");
        @: dataChegadasHoje.push("@Html.DisplayFor(modelItem => items.Arr)");
        @: dataPartidasHoje.push("@Html.DisplayFor(modelItem => items.Dep)");
        @: dataTotalHoje.push("@(items.Arr + items.Dep)");
    }

        var chartDataHoje = {
            labels: labelArrayHoje,
            datasets: [
                {
                    type: 'line',
                    label: 'Total',
                    borderColor: 'rgb(54, 162, 235)',
                    borderWidth: 2,
                    fill: false,
                    data: dataTotalHoje
                }, {
                    type: 'bar',
                    label: 'Partidas',
                    backgroundColor: 'rgb(75, 192, 192)',
                    data: dataPartidasHoje
                }, {
                    type: 'bar',
                    label: 'Chegadas',
                    backgroundColor: 'rgb(255, 99, 132)',
                    data: dataChegadasHoje
                }
            ]

        };
    </script>

    <script type="text/javascript">
        var labelArrayAmanha = [];
        var dataChegadasAmanha = [];
        var dataPartidasAmanha = [];
        var dataTotalAmanha = [];

    @foreach (var items in HoursA
        .Select(h => new
        {
            hora = h,
            Arr = Model.AssistenciasAmanha
                    .Where(
                        d => d.Mov == "A"
                    )
                .Count(
                    m => m.Data.Hour == h
                ),
            Dep = Model.AssistenciasAmanha
                    .Where(
                        d => d.Mov == "D"
                    )
                .Count(m => m.Data.Hour == h)
        }
        ).OrderBy(h => h.hora))
    {
        @: labelArrayAmanha.push("@Html.DisplayFor(modelItem => items.hora):00");
        @: dataChegadasAmanha.push("@Html.DisplayFor(modelItem => items.Arr)");
        @: dataPartidasAmanha.push("@Html.DisplayFor(modelItem => items.Dep)");
        @: dataTotalAmanha.push("@(items.Arr + items.Dep)");
    }
    </script>
    <script type="text/javascript">

        var chartDataAmanha = {
            labels: labelArrayAmanha,
            datasets: [
                {
                    type: 'line',
                    label: 'Total',
                    borderColor: 'rgb(54, 162, 235)',
                    borderWidth: 2,
                    fill: false,
                    data: dataTotalAmanha
                }, {
                    type: 'bar',
                    label: 'Partidas',
                    backgroundColor: 'rgb(75, 192, 192)',
                    data: dataPartidasAmanha
                }, {
                    type: 'bar',
                    label: 'Chegadas',
                    backgroundColor: 'rgb(255, 99, 132)',
                    data: dataChegadasAmanha
                }
            ]

        };
    </script>

    <script type="text/javascript">
        window.onload = function () {
            var ctx = document.getElementById('canvasHoje').getContext('2d');
            window.myMixedChart = new Chart(ctx, {
                type: 'bar',
                data: chartDataHoje,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Total de PMR por BRD/STA:'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true
                    }
                }
            });

            var ctx = document.getElementById('canvasAmanha').getContext('2d');
            window.myMixedChart = new Chart(ctx, {
                type: 'bar',
                data: chartDataAmanha,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Total de PMR por BRD/STA:'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true
                    }
                }
            });
        };
    </script>

    <script type="text/javascript">
        $('#datepicker').datepicker({
            isRTL: false,
            format: 'dd-mm-yyyy',
            autoclose: true,
            language: 'Pt'
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- DataTables -->
    <script src="~/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#tblVoosCriticosH').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            })
        })
    </script>
    <script>
        $(function () {
            $('#tblVoosCriticosA').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            })
        })
    </script>
}
<div id="confirmDialog" title="Remove Assignment" hidden>
    <p>Do you want to save changes </p>
</div>