@page
@model MyWayRazor.Pages.Tabelas.Statuses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status.Statuses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.Statuses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status.LastUpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.LastUpdatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status.LastUpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.LastUpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Status.StatusID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
