@page
@model MyWayRazor.Pages.tempFolder.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AssistenciasPRM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Aeroporto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Aeroporto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Msg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Msg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Notif)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Notif)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Voo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Voo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Mov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Mov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.OrigDest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.OrigDest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Pax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Pax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.SSR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.SSR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.AC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.AC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Stand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Stand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Exit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Exit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.CkIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.CkIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Gate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Gate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistenciasPRM.Transferencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistenciasPRM.Transferencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AssistenciasPRM.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
