@page
@model MyWayRazor.Pages.Colaboradores.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="content">
    <div class="row col-md-8 col-md-offset-2">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-green-active">
                <div class="widget-user-image">
                    <img class="img-circle" src="~/AdminLTE/dist/img/avatar.png" alt="User Avatar" />
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">
                    @Html.DisplayFor(model => model.Colaborador.Nome)
                </h3>
                <h5 class="widget-user-desc">
                    @Html.DisplayFor(model => model.Colaborador.Funcao.FuncaoNome)
                </h5>
            </div>
            <div class="box-footer no-padding">
                <div class="row col-md-8 col-md-offset-2">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.Uh) :
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.Uh.IATA)
                                </td>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.Departamento)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.Departamento.DepartamentoNome)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.NumCartao)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.NumCartao)
                                </td>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.NumPw)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.NumPw)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.Equipa)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.Equipa.EquipaNome)
                                </td>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.Categoria)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.Categoria.CategoriaNome)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.HorarioPraticado)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.HorarioPraticado.HorarioHora) horas
                                </td>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.HorarioContratado)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.HorarioContratado.HorarioHora) horas
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.DataAdmissao)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.DataAdmissao)
                                </td>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.DataFim)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.DataFim)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.Contrato)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.Contrato.ContratoTipo)
                                </td>
                                <td>
                                    <strong>
                                        @Html.DisplayNameFor(model => model.Colaborador.Funcao)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Colaborador.Funcao.FuncaoNome)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <a asp-page="./Edit" asp-route-id="@Model.Colaborador.ColaboradorID">Editar</a> |
                        <a asp-page="./ColaboradorFormacao" asp-route-id="@Model.Colaborador.ColaboradorID">Formações</a> |
                        <a asp-page="./Index">Voltar</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
</div>
