@page
@model MyWayRazor.Pages.Colaboradores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].Uh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].NumCartao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].NumPw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].Funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].Equipa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].HorarioPraticado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].HorarioContratado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].DataAdmissão)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].LastUpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador[0].LastUpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Colaborador) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Uh.IATA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.DepartamentoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCartao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcao.FuncaoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipa.EquipaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioPraticado.HorarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioContratado.HorarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissão)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.ContratoTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Statuses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ColaboradorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ColaboradorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ColaboradorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
